.contenedor-carga{
    background-color: #fcffff;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    transition: all 1s easy;
    z-index: 10000;
}

.contenedor-carga2{
    background-color: #fcffff62;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    transition: all 1s easy;
    z-index: 10000;
}

.carga{
    border: 15px solid #ccc;
    border-top-color: #4d82bc;
    border-top-style: groove;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    animation: girar 1.5s linear infinite;
}

@keyframes girar {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}