.cont-contruccion{
    width: 98%;
    margin: 0 auto;
}

.cont-contruccion h2{
    text-align: center;
    font-family: 'cunia', serif;
    margin-bottom: 20px;
    margin-top: 50px;
    color: #4d83bc;
}

.ppp{
    text-align: center;
    font-weight: 900;
    color: #4d83bc;
}

.form-contruccion .titulo{
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-contruccion .cont-descripcion{
    width: 95%;
    margin: 0 auto;
}

.form-contruccion .cont-descripcion span{
    color: #4d83bc;
    font-weight: bold;
    font-size: 20px;
}

.form-contruccion .titulo span{
    color: #4d83bc;
    font-weight: bold;
}

.form-contruccion .titulo h3{
    color: #252525;
}

.form-contruccion .tituloE{
    text-align: center;
    text-transform: uppercase;
    color: #4d83bc;
    font-family: 'cunia', serif;
    font-size: 20px;
    margin-top: 10px;
}

.cont-chekbox-movi{
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 20px;
}

.cont-chekbox-movi p{
    text-align: center;
    text-transform: uppercase;
    color: #4d83bc;
    font-family: 'cunia', serif;
    font-size: 20px;
    margin-top: 10px;
}

.form-check-label{
    color: #4d83bc;
    font-weight: bold;
    margin-left: 5px;
    display: inline;
}

.form-check-input{
    margin-left: 10px;
}
