*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Alice', serif;
}

body{
    background-color: #f2f2f2;
}

.seccion{
    margin-left: 70px;
}

@media screen and (max-width:400px){
    .seccion{
        margin-left: 0;
    }
}