*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Alice', serif;
}

body{
    background-image: url('../img/fodo.png');
}

.seccion{
    margin-left: 70px;
}

.btn1{
    display: block;
    width: 200px;
    background-color: #4d82bc;
    border: none;
    text-decoration: none;
    color: #fcffff;
    padding: 10px;
    font-size: 18px;
    font-weight: 900;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.btn1:hover{
    background-color: #fcffff;
    border: 1px solid #4d82bc;
    color: #4d82bc;
}

.btnReturn{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.btnReturn .btn1{
    width: 10%;
    text-align: center;
}


@media screen and (max-width:580px){
    .seccion{
        margin-left: 0;
    }
    .btnReturn .btn1{
        width: 15%;
    }
}