.t{
    font-family: 'cunia', serif;
    color: #4d82bc;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.contM{
    width: 98%;
    margin: 0 auto;
}

.cong{
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
}

.grafico1{
    width: 100%;
    height: 300px;
}

.grafico2{
    width: 100%;
    height: 300px;
}

.contM p{
    color: #4d82bc;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}