@font-face {
    font-family: 'cunia';
    src: url('../fonts//cunia/Cunia.ttf');
}

.navbarr{
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    background-color: #4d82bc;
    overflow: hidden;
    transition: width 0.2s linear;
    box-shadow: 0 20px 35px rgba(27, 27, 27, 0.5);
    font-weight: bold;
    z-index: 1;
    transition: all 0.5s ease;
}

.nav1 .logo{
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
}

.nav1 .logo img{
    width: 40px;
    border-radius: 20%;
    padding: 2px;
    background-color: #fcffff;
}

.nav1 .logo span{
    font-weight: bold;
    padding-top: 14px;
    font-size: 16px;
    padding-left: 15px;
    margin-top: -7px;
    text-transform: uppercase;
    font-family: 'cunia', serif;
}

.nav1{
    display: none;
    background-color: #4d82bc;
    z-index: 1;
}

.nav1 a{
    color: #fcffff;
    font-family: 'Alice', serif;
    font-weight: 500;
    font-size: 18px;
}

.nav1 li i{
    margin-right: 10px;
}

.nav1 a:hover{
    color: #252522;
}

.navbar-toggler{
    font-size: 32px;
    color: #f2f2f2;
}


.navbarr ul{
    margin-left: -40px;
}

.navbarr .logo1{
    text-align: center;
    display: flex;
    transition: all 0.5s ease;
    background-color: #4d82bc;
}

.navbarr .logo1 img{
    width: 45px;
    height: 45px;
    border-radius: 20%;
    margin: 10px 0 0 10px;
    background-color: #fcffff;
}

.navbarr .logo1 span{
    font-weight: bold;
    padding: 15px;
    font-size: 18px;
    font-family: 'cunia', serif;
    padding-left: 15px;
    margin-top: -5px;
    text-transform: uppercase;
}


.navbarr a, .logo1{
    text-decoration: none;
    position: relative;
    color: rgb(85, 83, 83);
    font-size: 15px;
    display: table;
    width: 300px;
    padding: 10px;
    color: #fcffff;
}

.navbarr a{
    font-family: 'cunia', serif;
}

.navbarr .fas{
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 22px;
    text-align: center;
}

.navbarr .nav-item{
    position: relative;
    top: 12px;
    margin-left: 10px;
}

.navbarr a:hover, .logo1:hover{
    background-color: #fcffff;
    color: #4d82bc;
}

/* .navbarr:hover{
    width: 240px;
    transition: all 0.5s ease;
} */

.navbarr .logout{
    position: absolute;
    bottom: 0;
}

@media screen and (max-width:580px){
    .navbarr {
        display: none;
    }

    .nav1{
        display: block;
    }

}