.cont-pared{
    width: 100%;
    margin-top: 50px;
}

.cont-pared .titulo-pared{
    text-align: center;
    margin-left: 0;
    font-family: 'cunia', serif;
    letter-spacing: 2px;
}

.form-pared{
    width: 90%;
    margin: 0 auto;
    margin-top: 30px;
}

/* .form-pared .contI{
    
} */

.form-pared .contI .input1{
    width: 100%;
    margin-left: 0;
}

.form-pared .contI label{
    color: #4d82bc;
    font-weight: bold;
    font-size: 17px;
    width: 100%;
    margin-bottom: 5px;
}

.form-pared .contI .select2{
    width: 100%;
    margin-left: 0;
}

.contPA{
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
}

.contPA hr{
    width: 100%;
}

.contPA .contP{
    width: 100%;
}

.contPA label{
    color: #4d82bc;
    font-weight: bold;
}

.puertas{
    padding-top: 20px;
}

.contFP{
    margin-bottom: 10px;
}

.contFP h4{
    color: #4d82bc;
    font-weight: bolder;
    display: inline;
    line-height: 40px;
}

.contFP .btn1{
    display: inline;
    background-color: #c94040;
    color: #fcffff;
    width: 50px;
    margin: 0;
    float: right;
}

.contFP .btn1:hover{
    background-color: #fcffff;
    border: 1px solid #c94040;
    color: #c94040;
}