.con-sigup{
    margin: 0 auto;
    width: 70%;
    height: 520px;
    margin-top: 40px;
    background: linear-gradient(to bottom, rgba(57, 108, 184, 0.8), rgba(151, 181, 226, 0.8)),
    url('../img/jumbo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 40% 50%;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(27, 27, 27, 0.3);
    padding-left: 12px;
}

.sigup-img{
    /* margin: 0 auto; */
    width: 40%;
    height: 520px;
    /* background-color: #fcffff; */
    background-image: url('../img/fodo.png');
    border-top-right-radius: 60%;
    border-bottom-right-radius: 60%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.sigup-form{
    padding: 10px;
    margin-top: 10px;
    margin-left: 20px;
    width: 55%;
    height: 480px;
}

.sigup-img img{
    width: 60%;
    margin-top: 40%;
}

.sigup-img h2{
    color: #4d82bc;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 20px;
    font-family: 'cunia', serif;
}

.sigup-form h2{
    margin: 20px 0;
    color: #fcffff;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'cunia', serif;
}

.sigup-form .form .input{
    width: 92%;
    margin-bottom: 20px;
    margin-left: 10px;
    border: 2px solid #fcffff;
    color: #fcffff;
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: none;
    background-color: rgba(252, 255, 255, 0.1);
}

.sigup-form .form .input1{
    width: 45%;
    display: inline;
    margin-bottom: 20px;
    margin-left: 10px;
    border: 2px solid #fcffff;
    color: #fcffff;
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: none;
    background-color: rgba(252, 255, 255, 0.1);
}

.sigup-form .form .input2{
    width: 30%;
    display: inline;
    margin-bottom: 20px;
    margin-left: 10px;
    border: 2px solid #fcffff;
    color: #fcffff;
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: none;
    background-color: rgba(252, 255, 255, 0.1);
}

.sigup-form .form .input3{
    width: 60%;
    display: inline;
    margin-bottom: 20px;
    margin-left: 10px;
    border: 2px solid #fcffff;
    color: #fcffff;
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: none;
    background-color: rgba(252, 255, 255, 0.1);
}

.sigup-form .form .input::placeholder{
    color: #fcffff;
}

.sigup-form .form .input1::placeholder{
    color: #fcffff;
}

.sigup-form .form .input2::placeholder{
    color: #fcffff;
}

.sigup-form .form .input3::placeholder{
    color: #fcffff;
}

.sigup-form .form .input:hover{
    cursor: text;
    border: 3px solid #fcffff;
    border-left: none;
    border-right: none;
    border-top: none;
    border-radius: none;
}

.sigup-form  .form .input:focus{
    cursor: text;
    border: 2px solid #fcffff;
    transition: all 0.3s ease;
    color: #fcffff;
}

.sigup-form  .form .input1:focus{
    cursor: text;
    border: 2px solid #fcffff;
    transition: all 0.3s ease;
    color: #fcffff;
}

.sigup-form  .form .input2:focus{
    cursor: text;
    border: 2px solid #fcffff;
    transition: all 0.3s ease;
    color: #fcffff;
}

.sigup-form  .form .input3:focus{
    cursor: text;
    border: 2px solid #fcffff;
    transition: all 0.3s ease;
    color: #fcffff;
}

.sigup-form p{
    margin-top: 30px;
    font-size: 18px;
    color: #fcffff;
    font-weight: bold;
}

.sigup-form p a{
    margin-left: 5px;
    background-color: #fcffff;
    text-decoration: none;
    padding: 8px;
    color: #4d82bc;
    border-radius: 5px;
    font-weight: 500;
}

.sigup-form p a:hover{
    background-color: #4d82bc;
    color: #fcffff;
    border: 1px solid #fcffff;
}

.btn3{
    display: block;
    width: 200px;
    background-color: #fcffff;
    border: none;
    text-decoration: none;
    color: #4d82bc;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.btn3:hover{
    background-color: #4d82bc;
    border: 1px solid #fcffff;
    color: #fcffff;
}


@media screen and (max-width:1200px){
    .con-sigup{
        width: 80%;
    }
    .sigup-img img{
        width: 60%;
        margin-top: 60%;
    }
}

@media screen and (max-width:800px){
    .con-sigup{
        width: 95%;
    }
    .sigup-img img{
        width: 60%;
        margin-top: 70%;
    }
}

@media screen and (max-width:590px){
    .con-sigup{
        width: 320px;
        padding: 0;
        height: 680px;
        margin-top: 30px;
        background-color: #fcffff;
    }

    .sigup-img{
        width: 320px;
        height: 200px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 60%;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 60%;
        margin-left: 12px;
    }

    .sigup-form{
        width: 300px;
        margin-top: 0;
        margin-left: 0;
        margin: 0 auto;
    }

    .sigup-img img{
        width: 45%;
        height: 45%;
        padding: 10px;
        /* background-color: #fcffff; */
        border-radius: 50%;
        margin-top: 10px;
    }

    .sigup-img h2{
        display: none;
    }

    .sigup-form h2{
        margin-top: -80px;
        background: linear-gradient(to bottom, rgba(57, 108, 184, 0), rgba(151, 181, 226, 0));
        border-top-right-radius: 100%;
        border-top-left-radius: 100%;
        padding: 20px;
        font-weight: bold;
        text-transform: uppercase;
        color: #4d82bc;
    }

    .sigup-form .form .input{
        width: 98%;
        margin-top: 0px;
        margin-left: 0;
        margin-bottom: 20px;
    }

    .sigup-form .form .input1{
        width: 98%;
        margin-top: 0px;
        margin-left: 0;
        margin-bottom: 20px;
    }
    .sigup-form .form .input2{
        margin-left: 0;
        width: 35%;
    }
    .sigup-form p{
        font-size: 14px;
        margin-top: 20px;
    }
}

@media screen and (max-width:320px){
    .con-sigup{
        width: 300px;
    }

    .sigup-img{
        width: 300px;
    }
}