.contV{
    margin: 0 auto;
    width: 100%;
    margin-top: 30px;
}

.contInput .contI2 label{
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
}

.contInput .contI2 .input1{
    width: 100%;
    border-radius: 5px;
    margin-bottom: 20px;
}


.contI2 .input1:focus   {
    border: none;
    border-bottom: 2px solid #4d82bc;
    background-color: #fcffff;
}

.contBV{
    margin: 0 auto;
    margin-top: 23px;
}

.contBV .btn1{
    margin: 0 auto;
    margin-bottom: 20px;
    width: 60%;
    display: inline;
    background-color: #4dbc56;
    margin-left: 4px;
}

.contBV .btn1:hover{
    background-color: #fcffff;
    color: #4dbc56;
    border: 1px solid #4dbc56;
}

.contBV .btn2{
    display: inline;
    width: 70px;
    margin: 5px;
    background-color: #c94040;
    border: none;
    text-decoration: none;
    color: #fcffff;
    padding: 10px;
    font-size: 18px;
    font-weight: 900;
    border-radius: 5px;
    transition: all 0.3s ease;
}

.contBV .btn2:hover{
    background-color: #fcffff;
    border: 1px solid #c94040;
    color: #c94040;
}

.contr p{
    font-size: 25px;
}

@media screen and (max-width:500px){
    .contBV{
        margin-top: 0px;
    }
    .contInput .contI2 label{
        text-align: center;
    }
}
