.contV{
    margin: 0 auto;
    width: 90%;
    margin-top: 30px;
}

.contV .contInput{
    width: 100%;
    margin-bottom: 20px;
}

.contI2{
    width: 30%;
    display: inline;
}

.contI2 .input1{
    display: inline;
    width: 18%;
    margin: 0 10px 0 10px;
    border-radius: 5px;
}

.contI2 .input1:focus   {
    border: none;
    border-bottom: 2px solid #4d82bc;
    background-color: #fcffff;
}

.contBV{
    width: 40%;
    margin: 0 auto;
}

.contBV .btn1{
    margin: 0 auto;
    margin-bottom: 20px;
}

.contBV p{
    font-size: 25px;
}

@media screen and (max-width:1290px){
    .contI2{
        width: 50%;
    }
    
    .contI2 .input1{
        width: 28%;
    }
}

@media screen and (max-width:900px){
    .contI2{
        width: 50%;
    }
    
    .contI2 .input1{
        width: 20%;
    }
}

@media screen and (max-width:680px){
    .contV{
        margin-top: 10px;
    }
    
    .contI2{
        width: 100%;
    }
    
    .contI2 .input1{
        display: block;
        width: 100%;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .contBV{
        width: 80%;
    }
}